<article class="col d-inline-block">
    <div class="d-flex flex-column
    border border-2 h-100 rounded-2 overflow-hidden">
        <!-- Product image-->
        <img class="h-sz-80 w-100 obj-center-cover" src="<%= product.image %>" alt="<%= product.title %>" />
        <!-- Product details-->
        <div class="card-body p-4 text-start">
            <!-- Product name-->
            <h6 class="h6 fw-bolder line-clamp-2">
                <%= product.title %>
            </h6>
            <!-- Product price-->
            <%= formatCurrencyVND(product.price) %>
        </div>
        <!-- Product actions-->
        <div class="flex-grow-1 justify-content-end d-flex flex-column
        p-4 pt-0 border-top-0 bg-transparent text-end ">
            <a class="btn btn-outline-dark mt-auto" href="<%= navigatePage(" product", product.id) %>">View
                options</a>
        </div>
    </div>
</article>