<div class="container-fluid bg-light-subtle text-emphasis-light d-grid">
    <div class="card">
        <div class="card-body h-100 overflow-scroll">
          <h6 class="mb-4 pb-3 border-bottom fw-bold">Moving item with ID of: <%= itemID %></h6>
          <form action="move-product" method="POST">
            <div class="mb-3">
              <label for="whname" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="quantity" name="quantity" value="" min="1">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" name="dst_id">
                    <option selected>Open this select menu</option>
                    <% warehouselist.forEach(warehouse => { %>
                        <option value="<%= warehouse["WarehouseID"] %>"><%= warehouse["WarehouseName"] %> can store <%= warehouse["Copies"] %> copies of the product</option>
                   <% }) %>
                  </select>
            </div>
            <input type="number" class="form-control" id="pid" name="pid" value="<%= itemID %>" readonly hidden>
            <input type="number" class="form-control" id="src_id" name="src_id" value="<%= src_wid %>" readonly hidden>
            <button type="submit" class="btn btn-dark">Move item</button>
          </form>
        </div>
      </div>
</div>