<!-- Form: add id to `td` -> add id to `input` inside modal body 
  -> Inside script: get value form id in `td` -> assign value to input `id`  -->
<div class="container-fluid bg-light-subtle text-emphasis-light">
  <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#createProductModal" onclick="createProduct(this)">Add product</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Created At</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% productList.forEach(product => { %>
      <tr>
        <td id="product-id" scope="row"><%= product.id %></td>
        <td id="product-title"><%= product.title %></td>
        <td id="product-price"><%= product.price %></td>
        <td id="product-description"><%= product.description %></td>
        <td id="product-category"><%= product.created_at %></td>
        <td>
          <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#updateProductModal" onclick="showUpdateModal(this)">Update Item</button>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteProductModal" onclick="deleteProductModal(this)">Delete Item</button>
        </td>
      </tr>
      <% }) %>
    </tbody>
    </table>
</div>

<%- include('../partials/modal', {
  modalId: "updateProductModal",
  heading: "Update Product Information",
  // render body with message and button
  body: `
  <div class="card">
    <div class="card-body h-100 overflow-scroll">
      <h6 class="mb-4 pb-3 border-bottom fw-bold">Update Product Information</h6>
      <form action="update-product" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" id="update-id" name="id" value="" readonly hidden>
        </div>
        <div class="mb-3">
          <label for="update-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="update-title" name="title" value="">
        </div>
        <div class="mb-3">
          <label for="update-price" class="form-label">Price</label>
          <input type="number" class="form-control" id="update-price" name="price" value="">
        </div>
        <div class="mb-3">
          <label for="update-description" class="form-label">Description</label>
          <input type="text" class="form-control input-lg" id="update-description" name="description" value="">
        </div>
        <button type="submit" class="btn btn-dark">Save Changes</button>
      </form>
    </div>
  </div>
  `,
  isFullScreenSm: false,
}) %>

<%- include('../partials/modal', {
  modalId: "createProductModal",
  heading: "Create New Product",
  // render body with message and button
  body: `
  <div class="card">
    <div class="card-body h-100 overflow-scroll">
      <h6 class="mb-4 pb-3 border-bottom fw-bold">Update Product Information</h6>
      <form action="create-product" method="POST">
        <div class="mb-3">
          <label for="update-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="update-title" name="title" value="">
        </div>
        <div class="mb-3">
          <label for="update-seller" class="form-label">Seller</label>
          <input type="text" class="form-control" id="update-seller" name="seller" value="" disabled readonly>
        </div>
        <div class="mb-3">
          <label for="update-price" class="form-label">Price</label>
          <input type="number" class="form-control" id="update-price" name="price" value="">
        </div>
        <div class="mb-3">
          <label for="update-description" class="form-label">Description</label>
          <input type="text" class="form-control input-lg" id="update-description" name="description" value="">
        </div>
      <div class="mb-3">
          <label for="update-category" class="form-label">Category</label>
          <input type="text" class="form-control input-lg" id="update-category" name="category" value="">
        </div>
        <div class="mb-3">
          <label for="update-length" class="form-label">Length</label>
          <input type="number" class="form-control" id="update-lenght" name="len" value="">
        </div>
        <div class="mb-3">
          <label for="update-width" class="form-label">Width</label>
          <input type="number" class="form-control" id="update-width" name="wid" value="">
        </div>
        <div class="mb-3">
          <label for="update-height" class="form-label">Height</label>
          <input type="number" class="form-control" id="update-height" name="hei" value="">
        </div>
        <div class="mb-3">
          <label for="update-image" class="form-label">Image</label>
          <input type="text" class="form-control" id="update-image" name="image" value="">
        </div>
        <div class="mb-3">
          <label for="update-remain" class="form-label">Stock</label>
          <input type="number" class="form-control" id="update-remain" name="stock" value="">
        </div>
        <button type="submit" class="btn btn-dark">Save Changes</button>
      </form> 
    </div>
  </div>
  `,
  isFullScreenSm: false,
}) %>


<%- include('../partials/modal', {
  modalId: "deleteProductModal",
  heading: "Delete Confirmation",
  // render body with message and button
  body: `
  <div class="card">
    <div class="card-body h-100 overflow-scroll">
      <h6 class="mb-4 pb-3 border-bottom fw-bold">Delete Confirmation</h6>
      <form action="delete-product" method="POST">
        <div class="mb-3">
          <input type="number" class="form-control" id="delete" name="id" value="" hidden>
        </div>
        <button type="submit" class="btn btn-dark">Delete product</button>
      </form>
    </div>
  </div>
  `,
  isFullScreenSm: false,
}) %>

<script>
  function showUpdateModal(buttonElement) {
    // Find the closest <tr> element which is the parent of the clicked button
    const row = buttonElement.closest('tr');

    // Get the product data from the td elements
    const productTitle = row.querySelector('#product-title').innerText;
    const productPrice = row.querySelector('#product-price').innerText;
    const productDescription = row.querySelector('#product-description').innerText;
    const productId = row.querySelector('#product-id').innerText;

    // Now set this data into the modal fields
    document.querySelector('#updateProductModal #update-title').value = productTitle;
    document.querySelector('#updateProductModal #update-price').value = productPrice;
    document.querySelector('#updateProductModal #update-description').value = productDescription;
    document.querySelector('#updateProductModal #update-id').value = productId;
  }

  function createProduct(buttonElement) {
  }

  function deleteProductModal(buttonElement) {
    const row = buttonElement.closest('tr');
    const productId = row.querySelector('#product-id').innerText;
    document.querySelector('#deleteProductModal #delete').value = productId;
  }
</script>

