<html lang="en">

<head>
    <%- include ('./partials/head') %>
        <title><%= title %></title>
</head>
<header id="header">
    <%- include ('./partials/header') %>
</header>

<body>
    <!-- Pass bodyFile as filename, locals as other arguments -->
    <%- include(bodyFile) %>
</body>

<footer class="footer">
    <%- include ('./partials/footer') %>
</footer>

</html>