<section class="">
  <div class="p-3 m-3 p-lg-5 m-lg-5">
    <div class="d-flex justify-content-center align-items-center flex-column">

      <section class="d-flex flex-column justify-content-between align-items-center mb-4">
        <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        <div>
          <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
        </div>
      </section>

      <% cartItems.forEach(cartItem => { %>
        <div class="card rounded-3 mb-4 shadow-sm">
          <section class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center gy-2">
              <!-- image -->
              <div class="pb-2 pb-md-0 col-md-3 col-lg-2 h-sz-80 h-sz-md-40">
                <img src="<%= cartItem.image %>" class="object-fit-cover w-100 h-100 rounded-3" alt="Cotton T-shirt">
              </div>
              <!-- title -->
              <div class="pb-2 pb-md-0 col-md-9 col-lg-3">
                <p class="lead fw-normal mb-2 line-clamp-2"><%= cartItem.title %></p>
                <!-- <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p> -->
              </div>
              <div class="pb-2 pb-md-0 col-md-3 d-none d-md-inline d-lg-none"></div>
              <!-- product price -->
              <div class="d-none d-md-inline col-md-2 col-lg-1 w-auto">
                <h5 class="w-100 m-0 p-0 text-end line-clamp-2"><%= formatCurrencyVND(cartItem.price) %></h5>
              </div>
              <!-- quantity -->
              <div class="pb-2 pb-md-0 col-md-3 col-lg-3 d-flex">
                <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>
                <input id="form1" min="0" name="quantity" value="<%= cartItem.quantity %>" type="number" class="form-control form-control-sm" />
                <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
              <!-- total price -->
              <div class="pb-2 pb-md-0 col-md-2 col-lg-1 w-auto">
                <h5 class="w-100 m-0 p-0 line-clamp-2"><%= formatCurrencyVND(totalPrice) %></h5>
              </div>
              <!-- remove -->
              <div class="pb-2 pb-md-0 col text-end">
                <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
              </div>
            </div>
          </section>
        </div>
      <% }) %>


      <section class="card w-100 shadow-sm">
        <div class="card-body d-flex flex-column flex-md-row justify-content-between align-items-md-center">
          <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
          <h5 class="m-md-0 mt-3 p-0 text-end line-clamp-2"><%= formatCurrencyVND(totalPrice) %></h5>
        </div>
      </section>

    </div>
  </div>
</div>