<html lang="en">
<body>
    <div>
        <h1><%= title %></h1>
    </div>
    <div class="container-xl">
                
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Sample Data</div>
                        <div class="col"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>price</th>
                                <th>image</th>
                            </tr>
                            <%
                            if(sampleData){
                                if(sampleData.length > 0)
                                {
                                    sampleData.forEach(function(data){
                            %>
                                        <tr>
                                            <td><%= data.id %></td>
                                            <td><%= data.title %></td>
                                            <td><%= data.price %></td>
                                            <td><%= data.image %></td>
                                            <td></td>
                                        </tr>
                            <%
                                    });
                                }
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>